#banner {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  background-color: darkred;
  color: white;
  width: 100%;
}
h2 {
  background-color: darkred;
  color: white;
  width: 62%;
  margin-top: 50px;
}

img {
  float: right;
  width: 20%;
}

.column {
  float: left;
  width: 30%;
  margin-right: 10px;
}

a:link {
  color: black;
}

a:hover {
  background-color: darkred;
  color: white;
}

a:visited {
  color: darkred;
}

table,
th,
td {
  border: 1px solid black;
}
