<a href="/">Back Home</a>
<h1>Results</h1>
<div class="card card-body">
    <h5 class="card-title">Query</h5>
    <code>{{query}}</code>
    <small class="text-muted">The display of this query is for demonstration purposes. Do not include queries on your screens.</small>
</div>
<div class="card card-body">
    <h5 class="card-title">Parameters</h5>
    <code>{{parameters}}</code>
</div>